:root{
    --primary: #3acbf7;

}

.btn{
    padding:8px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn:hover{
    padding: 8px 20px;
    transition: 0.5s;
    background: white;
    color: #6568F4;
    transition: 250ms;

}

.btn--primary{
    background-color: var(--primary);

}

.btn--outline{
    background-color: transparent;
    color: white;
    border-radius: 4px;
    padding: 8px 20px;
    transition: 0.5s;
    border: 1px solid var(--primary);
}
.btn-medium{
    color: white;
    font-size: 18px;
    border-radius: 4px;
    padding: 8px 20px;
}

.btn-large{
    font-size: 20px;
    color: white;
    border-radius: 4px;
    padding: 12px 26px;
}